@model DateTile
@{
    ViewData["Title"] = "Add Tile: Date";
}

<h1><span class="va-top @(new DateTile().IconClassName)"></span> Add Tile: Date</h1>

<form class="ui form" method="post" asp-action="AddTileDate">
    <input type="hidden" name="originalName" value="@Model?.Name" />
    <div class="ui grid">
        <div class="row">
            <div class="six wide computer twelve wide tablet sixteen wide mobile column">
                <h3>Basic Tile Info</h3>
                <div class="ui segment">
                    <div class="field">
                        <label asp-for="Name"></label>
                        <div class="ui left icon input">
                            <i class="tag icon"></i>
                            <input asp-for="Name" />
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="Name"></span>
                        <p><small>An internal name to identify this tile, not shown on the dashboard.</small></p>
                    </div>
                    <div class="field">
                        <label asp-for="SizeX"></label>
                        <div class="ui left icon input">
                            <i class="arrows alternate horizontal icon"></i>
                            <select class="ui dropdown" asp-for="SizeX">
                                <option value="1">1x</option>
                                <option value="2">2x</option>
                                <option value="3">3x</option>
                                <option value="4">4x</option>
                            </select>
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="SizeX"></span>
                    </div>
                    <div class="field">
                        <label asp-for="SizeY"></label>
                        <div class="ui left icon input">
                            <i class="arrows alternate horizontal icon"></i>
                            <select class="ui dropdown" asp-for="SizeY">
                                <option value="1">1x</option>
                                <option value="2">2x</option>
                                <option value="3">3x</option>
                                <option value="4">4x</option>
                            </select>
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="SizeY"></span>
                    </div>
                </div>
                <div class="field">
                    <button type="submit" class="ui green icon labeled button">
                        <i class="plus icon"></i>
                        Add Tile
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>