@{
    ViewData["Title"] = "New Tile";
}

<h1><i class="expand icon"></i> New Tile</h1>

<p>Select a tile type below.</p>

<div class="ui cards">
    <a asp-action="AddTileBlank" class="card">
        <div class="content">
            <div class="header">Blank Tile</div>
            <div class="description">A blank tile, useful for taking up space in the layout but not actually rendering anything.</div>
        </div>
    </a>
    <a asp-action="AddTileState" class="card">
        <div class="content">
            <div class="header">State Tile</div>
            <div class="description">A simple tile that displays state information for an entity.</div>
        </div>
    </a>
</div>