.valign-middle {
  vertical-align: middle;
}
i.icon[class*="th large"] {
  font-size: 1em;
}
div.admin-contents {
  margin-left: 260px;
}
span.ui.label.field-validation-valid,
span.ui.label.field-validation-valid,
span.ui.label.field-validation-valid:before,
span.ui.label.field-validation-valid:before {
  display: none;
}
textarea.no-resize {
  resize: none !important;
}
textarea.code {
  font-family: Consolas, monospace;
  font-size: 12px;
}
.no-display {
  display: none !important;
}
dl > dd {
  word-break: break-word;
}
/* Preview Grid */
.preview-layout-grid {
  background: #DDD;
  overflow: auto;
  user-select: none;
}
.preview-layout-grid:active {
  cursor: grabbing;
}
.preview-layout-grid .preview-layout-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  background: #b9c8cf;
  border: 2px solid #999;
  padding: 2px 5px;
  cursor: grab;
  text-align: center;
  font-size: 0.73rem;
  overflow: hidden;
  white-space: nowrap;
}
.preview-layout-grid .preview-layout-item span.mdi {
  font-size: 24px;
}
.preview-layout-grid .preview-layout-item:active {
  cursor: grabbing;
}
.preview-layout-grid .preview-layout-item.tile-type-blank {
  opacity: 0.4;
  background: #BBB;
}
.packery-drop-placeholder {
  border: 2px dashed #666;
}
.va-middle,
.va-middle:before {
  vertical-align: middle;
}
.va-bottom,
.va-bottom:before {
  vertical-align: bottom;
}
.va-top,
.va-top:before {
  vertical-align: top;
  vertical-align: text-top;
}
.icon.large.mdi {
  width: 1.67em !important;
}
.mdi-icon-placeholder.icon.large {
  opacity: 1 !important;
}
.color-preview {
  opacity: 1 !important;
}