html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  user-select: none;
  font-family: Arial, sans-serif;
}
body.dashboard {
  margin: 0;
  padding: 0;
  font-size: 10px;
  user-select: none;
  font-family: Arial, sans-serif;
  background-color: #AAA;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}
body.dashboard .tiles {
  position: relative;
}
body.dashboard .tiles .tile {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  flex: 1 0 auto;
  font-size: 2rem;
  text-align: center;
  overflow: hidden;
}
body.dashboard .tiles .tile.tile-type--blank {
  display: none !important;
}
body.dashboard .tiles .tile.tile-clickable {
  cursor: pointer;
}
body.dashboard .tiles .tile.tile-loading:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #CCC;
}
body.dashboard .tiles .tile.tile-loading:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/load.gif);
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;
}
body.dashboard .debug-window {
  display: block !important;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  font-size: 11px;
  font-family: Consolas, monospace;
  background-color: #F5F5F5;
  color: #222222;
  margin: 0;
  padding: 10px;
  white-space: pre-wrap;
}
.tile {
  background-color: #e2e2e2;
}
.tile span.value {
  font-size: 2.35em;
}
.tile span.value i.mdi,
.tile span.value span.mdi {
  font-size: 1.2em;
}
.tile span.value i.mdi:before,
.tile span.value span.mdi:before {
  vertical-align: text-bottom;
}
.tile span[value-icon] {
  font-size: 4em;
}
.tile span[value-picture] {
  min-width: 2em;
  min-height: 2em;
  max-width: 2em;
  max-height: 2em;
  border-radius: 2em;
  border: 1.5px solid #EEE;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.tile span[value-picture].bw {
  filter: saturate(0);
}
.tile span.top-label,
.tile span.bottom-label {
  margin: 0.25em 0;
}
.tile.tile-type--date span.value {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}
.tile.tile-type--date span.date {
  font-size: 0.55em;
}
.tile.tile-type--date span.time {
  font-size: 1.2em;
  line-height: 1.25;
}
.tile.tile-type--weather {
  justify-content: center !important;
}
.tile.tile-type--weather .temp {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}
.tile.tile-type--weather > span.value.weather-value {
  font-size: 1.5em;
}
.tile.tile-type--weather > span.value[value-summary] {
  font-size: 1.8em;
}
.tile.tile-type--media {
  justify-content: space-between !important;
}
.tile.tile-type--media.media-idle {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
.tile.tile-type--media span.top-label,
.tile.tile-type--media span.bottom-label {
  margin: 0.5em 0;
  color: white;
  font-weight: 600;
  font-size: 1.4em;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
}
.tile.tile-type--calendar {
  justify-content: flex-start !important;
  overflow-y: auto !important;
}
.tile.tile-type--calendar .top-label {
  display: block;
  font-size: 1.75em;
  margin: 0.5em;
}
.tile.tile-type--calendar .calendar-events {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  text-align: left;
}
.tile.tile-type--calendar .calendar-events h3 {
  margin: 0;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(190, 190, 190, 0.7);
  font-size: 1.2em;
}
.tile.tile-type--calendar .calendar-events h3:not(:first-of-type) {
  margin-top: 1rem;
}
.tile.tile-type--calendar .calendar-events p {
  margin: 0;
}
.tile.tile-type--calendar .calendar-events p > span.summary {
  font-size: 1.1em;
}
.tile.tile-type--calendar .calendar-events p > span.time {
  display: inline-block;
  margin-left: 0.65em;
  font-size: 0.9em;
  font-weight: 600;
}