@model TileDisplayViewModel
@{
    ViewData["Title"] = "Home";
    ViewBag.BaseTileSizePx = Model.PageLayout.BaseTileSizePx;
    ViewBag.TilePadding = Model.PageLayout.TileSpacingPx;
}
<div class="tiles">
    @foreach (var item in Model.Tiles.Where(m => m.Layout != null))
    {
        <partial name="Tiles/TileView@(item.Tile.TypeProper)" model="@item" />
    }
</div>
