<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HA Command Center</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.9.97/css/materialdesignicons.css" crossorigin="anonymous" />
        <link type="text/css" rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    </environment>
    <environment include="Staging,Production">
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.9.97/css/materialdesignicons.min.css" crossorigin="anonymous" />
        <link type="text/css" rel="stylesheet" href="~/css/dashboard.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("Header", false)
</head>
<body class="dashboard">
    @RenderBody()

    <environment include="Development">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js" integrity="sha256-H9jAz//QLkDOy/nzE9G4aYijQtkLt9FvGmdUTwBk6gs=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/packery/2.1.2/packery.pkgd.js" integrity="sha256-62nn/5By0QIIvNFYlVHeF1CqfrMWTVzYp4MwoMFQRaQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.js" integrity="sha256-+82uy4inf/iMVOSgp7oOVfQrgRK9rUlMnW7gwD8mgOw=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.js" integrity="sha256-nCLOiEB2E5Mk++5XNR0otwdCPrAteym9WaDVgKhtrE0=" crossorigin="anonymous"></script>
        <script src="~/js/app.js" asp-append-version="true"></script>
    </environment>
    <environment include="Staging,Production">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/packery/2.1.2/packery.pkgd.min.js" integrity="sha256-qgHmqWpw9DcQLJgcK+YvMiLjEHTVuWQQ1eexLdiOzzU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.min.js" integrity="sha256-LeAW7V38b1z8nHHlrckbnAfx5W4Ge57nDlsDz6GzJjc=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.min.js" integrity="sha256-tZNzlXmrMrO9BLT6Gv4Y0LfAN8HdbZ7+LIuNf6WkFC0=" crossorigin="anonymous"></script>
        <script src="~/js/app.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        window.ccOptions = window.ccOptions || {};
        window.ccOptions.mode = 0;
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
