name: CI Build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - name: Code Checkout
      uses: actions/checkout@v1
    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1
        
    - name: Setup NPM
      uses: actions/setup-node@v1.1.0
      
    - name: npm install
      run: cd HADotNet.CommandCenter && npm install
        
    - name: Build with dotnet
      run: dotnet build --configuration Release
