@model HttpDebugRequest

<h1>HTTP Debugger</h1>
<p>A small HTTP debugger that lets you make HTTP requests within the context of an add-on.</p>

<div class="ui grid">
    <div class="row">
        <div class="column">
            <div class="ui segment">
                <form class="ui form" method="post" asp-action="HttpDebugger">
                    <div class="fields">
                        <div class="three wide field">
                            <label asp-for="Method"></label>
                            <select asp-for="Method">
                                <option value="GET">GET</option>
                                <option value="POST">POST</option>
                                <option value="PUT">PUT</option>
                                <option value="DELETE">DELETE</option>
                                <option value="PATCH">PATCH</option>
                                <option value="OPTIONS">OPTIONS</option>
                            </select>
                        </div>
                        <div class="thirteen wide field">
                            <label asp-for="Url"></label>
                            <input asp-for="Url" />
                        </div>
                    </div>
                    <div class="eight wide field">
                        <label asp-for="Headers"></label>
                        <textarea asp-for="Headers"></textarea>
                    </div>
                    <div class="fields">
                        <div class="eight wide field">
                            <label asp-for="Body"></label>
                            <textarea asp-for="Body" class="code" rows="30"></textarea>
                        </div>
                        <div class="eight wide field">
                            @if (Model?.Response != null)
                            {
                                <partial name="HttpDebugResponse" model="@Model.Response" />
                            }
                        </div>
                    </div>
                    <div class="field">
                        <button type="submit" class="ui primary button">
                            Execute
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>