@{
    ViewData["Title"] = "Admin Area";
}

<h1>HA Command Center &ndash; Admin Area</h1>

<partial name="Alerts" />

<p>Welcome to Home Assistant Command Center (HACC)!</p>

@* Hidden input for file browser - driven by toolbar button below and some lightweight JS. *@
<form method="post" enctype="multipart/form-data" asp-action="ImportConfig" class="no-display" id="importForm">
    <input type="file" accept=".config.json" id="importBrowser" name="file" />
</form>

<div class="ui stackable grid">
    <div class="two column row">
        <div class="column">
            <div class="ui segment">
                <h2>Getting Started Guides</h2>
                <p>
                    <a class="ui small icon labeled blue button" target="_blank" href="https://hacc.dev/usage/">
                        <i class="rocket icon"></i>
                        Setup and Usage Guide
                    </a>
                </p>
                <p>
                    <a class="ui small icon labeled teal button" target="_blank" href="https://hacc.dev/themes/">
                        <i class="paint brush icon"></i>
                        Get Themes
                    </a>
                </p>

                <h2>Resources</h2>
                <ul>
                    <li>
                        <i class="mdi mdi-web"></i> <a target="_blank" href="https://hacc.dev/">Website</a>
                    </li>
                    <li>
                        <i class="mdi mdi-github-circle"></i> <a target="_blank" href="https://github.com/qJake/HADotNet.CommandCenter">Project on GitHub</a>
                        <ul>
                            <li><a target="_blank" href="https://github.com/qJake/HADotNet.CommandCenter/issues/new/choose">Submit a Bug or Enhancement Idea</a></li>
                            <li><a target="_blank" href="https://github.com/qJake/HADotNet.CommandCenter/projects">View the Project Roadmap</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <h2>Configuration Control</h2>
                <p>Import, export, or reset your master HACC configuration here.</p>
                <p><em>Note: Exported settings do NOT contain connection information. When importing, you will need to re-setup your connection to Home Assistant.</em></p>
                <div class="ui buttons">
                    <button type="button" id="importConfig" class="ui grey icon labeled button">
                        <i class="download icon"></i>
                        Import...
                    </button>
                    <a class="ui grey icon labeled button" asp-action="ExportConfig">
                        <i class="upload icon"></i>
                        Export
                    </a>
                    <a class="ui red icon labeled button" id="resetConfig" asp-action="ResetConfig">
                        <i class="remove icon"></i>
                        Reset
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="one column row">
        <div class="column">
            <p>
                <b>Version:</b> @(System.Reflection.Assembly.GetExecutingAssembly().GetName().Version.ToString()), built on @(System.Reflection.Assembly.GetEntryAssembly().GetLinkerTimestampUtc().ToLocalTime())
            </p>
            <p>
                <em>
                    <a asp-action="Technical">View Technical Info</a>
                </em>
            </p>
        </div>
    </div>
</div>
