<h1>Migration to Pages Successful</h1>

<h4>HACC has performed a one-time migration to the new page structure.</h4>

<p>Your existing tiles and layout have been moved into a page called "default".</p>

<p>
    <a href="/admin/pages" class="ui icon labeled primary button">
        <i class="right arrow icon"></i>
        View your Pages
    </a>
</p>