@{
    ViewData["Title"] = "Admin Area";
}

@section TopNav
{
    <div class="ui top attached mini menu">
        <div class="item">
            <div class="ui large breadcrumb">
                <a class="section" asp-controller="Admin" asp-action="Index">
                    <i class="home icon"></i> Home
                </a>
                <div class="divider"> / </div>
                <div class="active section">
                    <i class="heart icon"></i> Supporters
                </div>
            </div>
        </div>
    </div>
}

<div class="ui center aligned container">
    <h1>HA Command Center &ndash; Project Supporters</h1>
    <div class="ui raised secondary center aligned segment">
        <h3>Interested in sponsoring the HA Command Center project?</h3>

        <div class="ui buttons">
            <a href="https://github.com/sponsors/qJake" rel="nofollow" target="_blank" class="ui black icon labeled button">
                <i class="github icon"></i>
                Sponsor me on GitHub
            </a>
            <div class="or"></div>
            <a href="https://www.buymeacoffee.com/qjake" rel="nofollow" target="_blank" class="ui orange icon right labeled button">
                <i class="coffee icon"></i>
                Buy me a coffee
            </a>
        </div>
    </div>

    <p>&nbsp;</p>

    <p><span class="ui large text">A huge <strong>THANK YOU</strong> to all of our project supporters listed below!</span></p>

    <div class="ui huge horizontal list">
        <div class="item">
            <img src="https://www.gravatar.com/avatar/eed6ac4e64e6b1ecec8737201700a31e" alt="Gravatar image" class="ui avatar image" />
            <div class="content">
                <div class="header">Tim Fisher</div>
            </div>
        </div>
    </div>
</div>