@{
    ViewData["Title"] = "Admin Area";
}

<h1><i class="expand icon"></i> Edit Tiles</h1>

<div class="ui cards">
    <a asp-action="AddTileState" class="card">
        <div class="content">
            <div class="header">State Tile</div>
            <div class="description">A simple tile that displays state information for an entity.</div>
        </div>
    </a>
</div>